.nav {
  display: flex;
  justify-content: center;
  background-color: black;
}

.nav-links {
  text-decoration: none;
  color: black;
  background-color: #fed000;
  padding: .5rem;
  margin: 1rem 1rem;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}

.nav-links:hover {
  transform: scale(1.2);
}

.resume-container {
  display: flex;
  width: 100%;
}

.resume-nav {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 1rem 2rem;
}

.resume-nav-links {
  margin: .5rem 0;
  text-decoration: none;
  background-color: black;
  text-align: center;
  padding: .5rem 0;
  color: #fed000;
  transition: all .2s ease-in-out;
}

.resume-nav-links:hover {
  transform: scale(1.2);
  color: black;
  background-color: #fed000;
}

.resume-display {
  width: 70%;
  padding: 0 .9rem;
}

.resume h

i {
  font-weight: lighter;
}